.box {
    display: flex;
    background-color: #eee;     /* 背景色指定 */
    padding:  10px;             /* 余白指定 */
    width: 1200px;
}

.category_lavel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 32px;
    margin: 0 auto;
    background-color: #eb724b;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
}

.category {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 13px 38px 12px 16px;
    font-size: 15px;
    font-weight: 300;
    color: #333333;
}
 
.category:nth-child(1) {
    background-color:  #fac1a6; /* 背景色指定 */
}
 
.category:nth-child(2) {
    background-color:  #62ad65; /* 背景色指定 */
}
 
.category:nth-child(3) {
    background-color: #6b77b7; /* 背景色指定 */
}
 
.category:nth-child(4) {
    background-color:  #2ac0d3; /* 背景色指定 */
}
ul {
    list-style: none;
  }

.category_item a {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 13px 38px 12px 16px;
    font-size: 15px;
    font-weight: 300;
    color: #333333;
}

.button {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #f8f8fb;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
    border        : 2px solid #000066;    /* 枠の指定 */
  }
  .button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #eeeef4;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
  }
  .category_item::after {
    position: absolute;
    top: 50%;
    right: 14px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
    width: 9px;
    height: 12px;
    background-image: url(../images/icon_arrow_right_type.svg);
    background-repeat: no-repeat;
    background-size: 9px 12px;
}